.m0 { margin:0px}
.mb0 { margin-bottom:0px !important}
.m20 { margin:20px;}
.mt3 { margin-top:3px;}
.mb35 { margin-bottom:35px;}
.p0 { padding:0px;}
.p40 { padding:40px;}

.bg_f6f6f6 {background-color: #f6f6f6 !important;}
/*Header*/
.oi_center_header_logo_holder { text-align:center}
ul.oi_menu_left  {text-align:right !important;}
ul.oi_menu-center-two > li { display:inline}
ul.oi_menu-center-two > li > a { 
	display:inline-block;
    border-radius:0px;}
ul.oi_menu-center-two > li > a:hover {
    text-decoration:none;
    
    border-top:0;
    border-bottom:0;
    border-left:0;
    border-right:0;
    border-style:solid;
    border-color:#f9f9f9;
}

ul.oi_menu-center-two > li.current-menu-item a, ul.oi_menu-center > li.current-menu-parent > a {

    border-top:0;
    border-bottom:0;
    border-left:0;
    border-right:0;
    border-style:solid;
    border-color:#f9f9f9;
    color: #b99d61}



ul.oi_menu-center-two> li >ul> li>a { 
    background:#000000;
    color: #ffffff !important;
    }
ul.oi_menu-center-two > li >ul> li>a:hover {
    text-decoration:none;
    background:#b99d61;
     color: #ffffff !important;
}

ul.oi_menu-center-two > li > ul> li.current-menu-item > a {
	background:#b99d61!important;
    color: #b99d61!important;
}.oi_inner_header .oi_center_header_logo_holder { text-align:center}
.oi_inner_header ul.oi_menu_left  {text-align:right !important;}
.oi_inner_header ul.oi_menu-center-two > li { display:inline}
.oi_inner_header ul.oi_menu-center-two > li > a { 
	display:inline-block;
    border-radius:0px; }
.oi_inner_header ul.oi_menu-center-two > li > a:hover {
    text-decoration:none;
    border-top:0;
    border-bottom:0;
    border-left:0;
    border-right:0;
    border-style:solid;
    border-color:#f9f9f9;
}

.oi_inner_header ul.oi_menu-center-two > li.current-menu-item a, .oi_inner_header ul.oi_menu-center-two > li.current-post-parent a {

    border-top:0;
    border-bottom:0;
    border-left:0;
    border-right:0;
    border-style:solid;
    border-color:#f9f9f9;
    color: #b99d61}
ul.oi_menu_left > li >a {margin-left:20px}
ul.oi_menu_right > li >a {margin-right:20px}


/*TopLine*/
ul.oi_topline_menu > li > a { 
}
ul.oi_topline_menu > li > a:hover {
    text-decoration:none;
}

ul.oi_topline_menu > li.current-menu-item a, ul.oi_topline_menu > li.current-menu-parent a{

    color: #b99d61}





ul.oi_topline_menu > li >ul> li>a { 
    background:#f6f6f6;
    color: #000000 !important;
    }
ul.oi_topline_menu > li >ul> li>a:hover {
    text-decoration:none;
    background:#b99d61;
     color: #ffffff !important;
}

ul.oi_topline_menu > li >ul> li.current-menu-item>a {
	background:#f1f1f1;
    color: #b99d61!important;
    
}
.oi_top_line_holder {margin-left:-15px; margin-right:-15px;}



/*Footer*/
.oi_footer_widget .io_footer_widget_title span {
}.oi_footer_holder {margin-left:-15px; margin-right:-15px;}


.oi_footer-ii_holder {margin-left:-15px; margin-right:-15px;}



.oi_footer-iii {margin-left:-15px; margin-right:-15px;}


/*Featured Area*/
.oi_featured_area_wide {margin-left:-15px; margin-right:-15px;}






/*Blog formats*/
/**************************************************************/
/*FORMAT IMAGE*/
/**************************************************************/

.oi_format-image .oi_blog_post_cat a:hover {

    border-top:0 !important;
    border-bottom:1px !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#eaeaea !important;
}



.oi_format-image .oi_blog_post_title_holder a:hover {

    border-top:0 !important;
    border-bottom:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#fff !important;
}



.oi_format-image .oi_blog_post_readmore_btn_holder a:hover {
    background:#b99d61;
    border-top:1px !important;
    border-bottom:1px !important;
    border-left:1px !important;
    border-right:1px !important;
    border-style:solid !important;
    border-color:#b99d61 !important;
}

.oi_format-image .oi_blog_post_tags_holder a:hover {

    border-top:0 !important;
    border-bottom:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#fff !important;
}








/**************************************************************/
/*FORMAT STATUS*/
/**************************************************************/


.oi_format-status .oi_blog_post_cat a:hover {

    border-top:0 !important;
    border-bottom:1px !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#eaeaea !important;
}


.oi_format-status .oi_blog_post_title_holder  a { 
    background:#000}
.oi_format-status .oi_blog_post_title_holder a:hover {
    background:#b99d61;
    border-top:0 !important;
    border-bottom:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#fff !important;
}


.oi_format-status .oi_blog_post_readmore_btn_holder a:hover {
    background:#b99d61;
    border-top:1px !important;
    border-bottom:1px !important;
    border-left:1px !important;
    border-right:1px !important;
    border-style:solid !important;
    border-color:#b99d61 !important;
}

.oi_format-status .oi_blog_post_tags_holder a:hover {
    border-top:0 !important;
    border-bottom:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#fff !important;
}








.oi_avatar {border-radius:120px;}


.zoom_img img:hover{
	cursor:crosshair;
	margin-top:0px !important;
	margin-bottom:0px !important;
}/*Pagination*/
.oi_blog_pagination_holder .oi_blog_pagination_holder-next a:hover {
    border-top:0 !important;
    border-bottom:1px !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#eaeaea !important;
}

.oi_blog_pagination_holder .oi_blog_pagination_holder-prev a:hover {
    border-top:0 !important;
    border-bottom:1px !important;
    border-left:0 !important;
    border-right:0 !important;
    border-style:solid !important;
    border-color:#eaeaea !important;
}
/*Comments*/
/**************************************************************/
/*COMMENTS*/
/**************************************************************/
.form-submit #submit:hover {
    background:#b99d61;
    border-top:1px !important;
    border-bottom:1px !important;
    border-left:1px !important;
    border-right:1px !important;
    border-style:solid !important;
    border-color:#b99d61 !important;
}

/*Layout*/
.oi_standard_header_holder {margin-left:-15px; margin-right:-15px;}
.oi_standard_header_holder_holder .row { margin:0px}

@media (min-width: 0px) and (max-width: 767px) {
                    #header{
margin: 0 auto;
}                }